<section>
  <h1>About</h1>
  <h3 class="left">
    Models @ RIT is a platform created by <a href="https://instagram.com/ritfabrick" target="_blank">RIT Fabrick</a> that connects photographers and aspiring models at RIT. Photography students often struggle to find models for their assignments and projects, while many students aspire to become models but lack the connections to do so.
  </h3>
  <h3 class="right">
    This website makes it easy for both photographers and models to connect. Anyone with an rit.edu email can create a profile as a model, providing an opportunity to be seen and allowing photographers to use the site as a resource for discovering new faces.
  </h3>
  <!-- <h2>About the creator</h2> -->
  <div class="row">
    <img src="../../../assets/images/headshot2.jpg" alt="" />
    <div class="text">
      <p>
        <b>Jacob Yoon, BS Computer Science '25</b>
        <br />
        <br />
        Jacob is a computer science student passionate about fashion, photography, and design. In 2021, he helped create <i>RIT Fabrick</i>, a fashion club that brings together students from different majors and backgrounds to share their love for fashion. Through his experiences leading the club, he saw a need for a platform to connect photographers and aspiring models, as there was no easy way for students to collaborate on these kinds of projects. By combining his skills in software engineering and design, he designed and developed <i>Models @ RIT</i>.
      </p>
      <div class="links">
        <a href="mailto:jy9726@rit.edu" target="_blank">Email</a>
        <!-- <a href="https://instagram.com/jaacobyoon" target="_blank">Instagram</a> -->
        <a href="https://instagram.com/ritfabrick" target="_blank"> RIT Fabrick </a>
      </div>
    </div>
  </div>
</section>
