<section id="section-register">
  <h1><em>Become a model</em></h1>
  <p class="descr">Anyone can start modeling! Help photographers discover your beauty. ♥</p>

  <form
    id="register"
    autocomplete="off"
    #registerform="ngForm"
    (ngSubmit)="upload(registerform.value)"
    [noValidate]="false">
    <div class="row">
      <div class="basic list">
        <h3><em>Account Info</em></h3>

        <label for="firstname">
          First name
          <span>*</span>
        </label>
        <input id="firstname" type="text" name="firstname" required ngModel />

        <label for="lastname">
          Last name
          <span>*</span>
        </label>
        <input id="lastname" type="text" name="lastname" required ngModel />

        <label for="email">
          Email
          <span>*</span>
          <b>(must be rit.edu)</b>
        </label>
        <input id="email" type="text" name="email" required ngModel pattern="^([a-zA-Z0-9_\-\.]+)@rit.edu$" />

        <label for="password">
          Password
          <span>*</span>
        </label>
        <input id="password" type="password" autocomplete="off" name="password" required ngModel />
      </div>

      <div class="personal list">
        <h3><em>Model Info</em></h3>

        <p class="note">
          The following information is optional, but it will be valuable for photographers. Please fill it out if you're comfortable doing so.
        </p>

        <label for="gender">Gender</label>
        <select name="gender" id="gender" ngModel="N/A">
          <option value="Man">Man</option>
          <option value="Woman">Woman</option>
          <option value="Non-binary/non-conforming">Non-binary/non-conforming</option>
          <option value="Other">Other</option>
          <option value="N/A">Prefer not to say</option>
        </select>

        <label for="race">Race <b>(select multiple with the ctrl or cmd key)</b></label>
        <select name="race" id="race" ngModel="N/A" multiple>
          <option value="Black or African American">Black or African American</option>
          <option value="Asian">Asian</option>
          <option value="Hispanic or Latino">Hispanic or Latino</option>
          <option value="American Indian or Alaska Native">American Indian or Alaska Native</option>
          <option value="Native Hawaiian or Other Pacific Islander">Native Hawaiian or Other Pacific Islander</option>
          <option value="White">White</option>
          <option value="Other">Other</option>
          <option value="N/A">Prefer not to say</option>
        </select>

        <div class="small">
          <label for="height">Height <b>(in)</b></label>
          <input id="height" type="number" name="height" ngModel (keydown)="keydown($event)" />
        </div>
        <div class="small">
          <label for="waist">Waist <b>(in)</b></label>
          <input id="waist" type="number" name="waist" ngModel (keydown)="keydown($event)" />
        </div>
        <div class="small">
          <label for="hip">Hip <b>(in)</b></label>
          <input id="hip" type="number" name="hip" ngModel (keydown)="keydown($event)" />
        </div>
        <div class="small">
          <label for="chest">Chest <b>(in)</b></label>
          <input id="chest" type="number" name="chest" ngModel (keydown)="keydown($event)" />
        </div>
        <div class="small">
          <label for="eyes">Eyes</label>
          <select name="eyes" id="eyes" ngModel="N/A">
            <option value="Brown">Brown</option>
            <option value="Blue">Blue</option>
            <option value="Hazel">Hazel</option>
            <option value="Green">Green</option>
            <option value="Gray">Gray</option>
            <option value="Black">Black</option>
            <option value="Red">Red</option>
            <option value="Amber">Amber</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="small">
          <label for="shoe">Shoe <b>(US)</b></label>
          <input id="shoe" type="number" min="0" step="0.5" name="shoe" ngModel (keydown)="keydown($event)" />
        </div>
        <div class="small">
          <label for="hair">Hair</label>
          <select name="hair" id="hair" ngModel="N/A">
            <option value="Black">Black</option>
            <option value="Brown">Brown</option>
            <option value="Blonde">Blonde</option>
            <option value="Red">Red</option>
            <option value="Gray">Gray</option>
            <option value="White">White</option>
            <option value="Blue">Blue</option>
            <option value="Purple">Purple</option>
            <option value="Pink">Pink</option>
            <option value="Green">Green</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="bio">
          <label for="bio">Bio</label>
          <textarea
            id="bio"
            rows="6"
            maxlength="200"
            type="text"
            name="bio"
            placeholder="Write a short bio about yourself. Is there anything you want photographers to know about?"
            ngModel></textarea>
        </div>
        <div class="small ig">
          <label for="instagram">Instagram</label>
          <span class="at">@</span>
          <input id="instagram" type="text" name="instagram" ngModel style="width: 150px" />
        </div>
        <div class="small">
          <label for="photos">Photos<span>*</span></label>
          <input
            id="photos"
            type="file"
            name="photos"
            accept="image/png, image/jpeg, image/jpg"
            required
            ngModel
            style="width: 250px"
            (change)="selectPhotos($event)"
            multiple />
        </div>

        <p style="opacity: 0.6">
          You can set your profile as private after you create it.
        </p>

        <button type="submit">Register</button>
      </div>
    </div>
  </form>
</section>
